# Scala
*.class
*.log

# sbt
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

# node modules
node_modules/

# IntelliJ
node_modules/
.idea/**/libraries
.idea/modules
.idea/workspace.xml
*/target
.DS_Store
*/.DS_Store
*/.history
target
